{{ $avatar_img := .Site.Params.author.avatar }}
{{ $avatar_img_alt := .Site.Params.author.name }}
{{ $image := resources.Get $avatar_img }}
<div class="author">
    {{ with $image }}
    {{ $image := $image.Fill "100x100 webp" }}
    <figure>
    <img src="img/header.jpg" width="500x" alt = "ForestWander" />
    <figcaption>© ForestWander</figcaption>
    </figure>
    {{ end }}
    <h2 class="author-name">{{ .Site.Params.author.intro }}</h2>
    <p class="author-bio">{{ .Site.Params.author.description }}</p>
</div>
